/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

/* @keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
} */

@font-face {
    font-family:'amatic';
    src: url('./amatic/AmaticSC-Regular.ttf');
   }

.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

#container{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-family: 'amatic';
    color: #ffffff; 
    z-index:4;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    
}

.msg{
    align-self: center;
    font-size: xxx-large;
    font-size: 11vw;
    font-weight: bold;
    width: 100%;
    height: 40%;
} 
.signature{
    align-self: flex-end;
    font-size: xx-large;
    font-size: 6vw;
    width: 50%;
    height: 80%;
}

/* @media only screen and (max-width: 825px) {
    .msg{
        align-self: center;
        font-size: xxx-large;
        font-size: 14vw;
        font-weight: bold;
        width: 75%;
        height: 60%;
    } 
    .signature{
        align-self: flex-end;
        font-size: xx-large;
        font-size: 6vw;
        width: 50%;
        height: 80%;
    }
} */

.clouds{
    /* background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3; */

  /* -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite; */
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .shooting_star {
    position: absolute;
    left: 100%;
    top: 100%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    -webkit-filter: drop-shadow(0 0 6px #699bff);
            filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before, .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    -webkit-transform: translateX(100%) rotateZ(45deg);
            transform: translateX(100%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    -webkit-transform: translateX(100%) rotateZ(-45deg);
            transform: translateX(100%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(100% - 177px);
    left: calc(100% - 4px);
    -webkit-animation-delay: 4306ms;
            animation-delay: 4306ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 4306ms;
            animation-delay: 4306ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(100% - 141px);
    left: calc(100% - 5px);
    -webkit-animation-delay: 209ms;
            animation-delay: 209ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 209ms;
            animation-delay: 209ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(100% - 0px);
    left: calc(100% - 117px);
    -webkit-animation-delay: 8702ms;
            animation-delay: 8702ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 8702ms;
            animation-delay: 8702ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(100% - -42px);
    left: calc(100% - 154px);
    -webkit-animation-delay: 8594ms;
            animation-delay: 8594ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 8594ms;
            animation-delay: 8594ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(100% - -75px);
    left: calc(100% - 271px);
    -webkit-animation-delay: 8358ms;
            animation-delay: 8358ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 8358ms;
            animation-delay: 8358ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(75% - -126px);
    left: calc(75% - 115px);
    -webkit-animation-delay: 6336ms;
            animation-delay: 6336ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 6336ms;
            animation-delay: 6336ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(75% - 186px);
    left: calc(75% - 41px);
    -webkit-animation-delay: 7627ms;
            animation-delay: 7627ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 7627ms;
            animation-delay: 7627ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(75% - -58px);
    left: calc(75% - 15px);
    -webkit-animation-delay: 2141ms;
            animation-delay: 2141ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 2141ms;
            animation-delay: 2141ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(75% - -70px);
    left: calc(75% - 223px);
    -webkit-animation-delay: 1401ms;
            animation-delay: 1401ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 1401ms;
            animation-delay: 1401ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(75% - 136px);
    left: calc(75% - 114px);
    -webkit-animation-delay: 1653ms;
            animation-delay: 1653ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 1653ms;
            animation-delay: 1653ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - 56px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 6965ms;
            animation-delay: 6965ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 6965ms;
            animation-delay: 6965ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - -187px);
    left: calc(50% - 99px);
    -webkit-animation-delay: 7597ms;
            animation-delay: 7597ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 7597ms;
            animation-delay: 7597ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - 182px);
    left: calc(50% - 263px);
    -webkit-animation-delay: 4265ms;
            animation-delay: 4265ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 4265ms;
            animation-delay: 4265ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - -116px);
    left: calc(50% - 33px);
    -webkit-animation-delay: 2851ms;
            animation-delay: 2851ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 2851ms;
            animation-delay: 2851ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - 57px);
    left: calc(50% - 21px);
    -webkit-animation-delay: 2854ms;
            animation-delay: 2854ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 2854ms;
            animation-delay: 2854ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(25% - 90px);
    left: calc(25% - 13px);
    -webkit-animation-delay: 5514ms;
            animation-delay: 5514ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 5514ms;
            animation-delay: 5514ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(25% - -167px);
    left: calc(25% - 286px);
    -webkit-animation-delay: 328ms;
            animation-delay: 328ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 328ms;
            animation-delay: 328ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(25% - -141px);
    left: calc(25% - 234px);
    -webkit-animation-delay: 516ms;
            animation-delay: 516ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 516ms;
            animation-delay: 516ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(25% - -95px);
    left: calc(25% - 126px);
    -webkit-animation-delay: 1089ms;
            animation-delay: 1089ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 1089ms;
            animation-delay: 1089ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(25% - -68px);
    left: calc(25% - 17px);
    -webkit-animation-delay: 5078ms;
            animation-delay: 5078ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 5078ms;
            animation-delay: 5078ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg);
    }
  }
  